<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Cashboard Tab -->
  <ion-tab title="Cashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/cashboard">
    <ion-nav-view name="tab-cashboard"></ion-nav-view>
  </ion-tab>

  <!-- Pockets Tab -->
  <ion-tab title="Pockets" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/pockets">
    <ion-nav-view name="tab-pockets"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
