<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-assertive">
  <!-- Cashboard Tab -->
  <ion-tab title="Cashboard" icon-off="pkt-icon-cashboard" icon-on="pkt-icon-cashboard" href="#/tab/cashboard">
    <ion-nav-view name="tab-cashboard"></ion-nav-view>
  </ion-tab>

  <!-- Pockets Tab -->
  <ion-tab title="Pockets" icon-off="pkt-icon-pockets" icon-on="pkt-icon-pockets" href="#/tab/pockets">
    <ion-nav-view name="tab-pockets"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon-off="pkt-icon-history" icon-on="pkt-icon-history" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="pkt-icon-settings" icon-on="pkt-icon-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
