.history-list {
    margin: 10px auto;
    width: 95%;

    .col {
        height: 50px;
    }
    .item-date {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        color: $gray1;
        .date {
            font-size: 11px;
        }
        .time {
            font-size: 9px;
        }
    }
    .item-amount {
        line-height: 40px;
    }
    .item-type {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
