.history-list {
    margin: 10px auto;
    width: 95%;

    .col {
        height: 50px;
        background-color: white;
    }
    .item-date {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        color: $gray1;

        .date-container {
            margin-top: 4px;
            padding-left: 3px;
            line-height: 1em;
            border-right: 2px solid $gray2;
            .date {
                font-size: 11px;
            }
            .time {
                font-size: 9px;
            }
        }
    }
    .item-amount {
        font-size:23px;
        line-height:40px;
        color: $gray3;
        .credit {
            color: $green1;
        }
        .debit {
            color: $red1;
        }
    }
    .item-action {
        padding: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;

        .mypocket {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            height: 50px;
            background-color: $green1;
            color: white;
            text-align: center;
            font-size: 10px;
            position: relative;
            width: 100%;
            .brand {
                position: absolute;
                left: 5px;
                right: 25px;
                bottom: 2px;
                text-align: center;
            }
            .icon {
                position: absolute;
                left: 5px;
                right: 25px;
                bottom: 17px;
                text-align: center;
            }

            .chevrone {
                position: absolute;
                right: 8px;
                top: 15px;
                font-size: 20px;
            }
        }
        .add {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            height: 50px;
            background:#EBEFE6;
            text-align: center;
            font-size: 32px;
            font-family:Roboto-Light;
            color:#6B6B6B;
            line-height: 48px;
        }
    }
}

.divider {
    margin: 10px auto;
    width: 90%;
    font-size:9px;
    color:#7E8595;
    line-height:9px;
    hr {
       display: block;
       height: 1px;
       border: 0;
       border-top: 2px solid #7E8595;
       margin: 1em 0;
       padding: 0;
    }
}
.exit {
    color: white;
    position: relative;
    font-size: 21px;
    span {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
