.history-list {
    margin: 10px auto;
    width: 95%;

    .col {
        height: 50px;
        background-color: white;
    }
    .item-date {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        color: $gray1;

        .date-container {
            margin-top: 4px;
            padding-left: 3px;
            line-height: 1em;
            border-right: 2px solid $gray2;
            .date {
                font-size: 11px;
            }
            .time {
                font-size: 9px;
            }
        }
    }
    .item-amount {
        font-size:23px;
        line-height:40px;
        color: $gray3;
    }
    .item-action {
        padding: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;

        .mypocket {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            height: 50px;
            background-color: $green1;
            color: white;
            text-align: center;
            font-size: 10px;
            position: relative;
            width: 100%;
            .brand {
                position: absolute;
                left: 5px;
                right: 25px;
                bottom: 2px;
                text-align: center;
            }
            .chevrone {
                position: absolute;
                right: 8px;
                top: 15px;
                font-size: 20px;
            }
        }
        .add {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            height: 50px;

            background:#EBEFE6;
            text-align: center;
            font-size: 32px;
            font-family:Roboto-Light;
            color:#6B6B6B;
            line-height: 48px;
        }
    }
}
