.pocket-bar {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    &.side {
        width: 20%;
        background: #999;
    }
    &.main {
        left: 20%;
        width: 80%;
        background: #eee;
    }
    .separator {
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background: #333;

        .trigger {
            position: absolute;
            display: block;
            right: 0;
            top: 50%;
            height: 50px;
            width: 50px;
            margin-top: -25px;
            background: #fff;
            border: solid 1px #333;
        }
    }
}
