.pocket-item {
    transition: all 1s ease;

    .percentage {
        transition: width 1s ease;
        width: 0;
    }

    &.ng-enter {
        -webkit-transform:scale(0.8);
        opacity:0;
    }

    &.ng-enter-active {
        -webkit-transform:scale(1);
        opacity:1;
    }
}
.tab-links {
    display: table;
    list-style: none;
    width: 100%;


    li {
        display: table-cell;
        border:1px solid #7E8595;
        color: #7E8595;
        padding: 5px;
        text-align: center;

        a {
            text-decoration: none;
            color: #7E8595;
        }

        &.active {
            boder-color: #fff;
            a {
                color: #fff;
            }
        }
    }
}
.tab-panes {
    display: none;

    &:active {
        display: block;
    }
}
