.full-height .scroll {
    height: 100%;
}

.login-btn {
    margin-top: 30px;
    background:#FF4A00;
    border-radius:100px;
    width:175px;
    height:49px;
    font-size:15px;
    color:#FFFFFF;
    letter-spacing:2px;
    line-height:20px;
    text-align:center;
    border: 0;
}

.logo {
    .logo-title {
        color: #FF4A00;
        font-size: 50px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}


