<ion-view hide-nav-bar="true" view-title="" hide-back-button="true">
    <ion-content class="padding login-page" style="background-color: white;">

        <div class="logo text-center">
            <img src="img/logo.png" alt="" style="max-width: 30px;"/>
            <h1 class="logo-title">Pockets</h1>
            <span>by </span> <span><img src="img/ing.png" alt="ing" style="max-width:80px"/></span>
        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Username" ng-model="data.user">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked placeholder-icon"></i>
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <div class="text-center">
            <button class="login-btn" ng-click="login()">
                <i class="icon ion-log-in"></i>
                Login
            </button>
        </div>
    </ion-content>

</ion-view>
