<ion-view view-title="POCKET DETAILS">
    <ion-content class="padding">
        <div class="card pocket {{ getCardType(pocket) }}" >
            <div class="item item-text-wrap">
                <div class="{{ getCardIcon(pocket.color)}}"></div>
                <div class="name">{{ pocket.name }}</div>
                <div class="category">{{ pocket.category }}</div>
                <div class="amount">{{ pocket.amount | currency }}
                    <br><span ng-show="{{ pocket.amount }}">available</span></div>
                <div ng-show="{{ pocket.amount }}" class="pocket-percentage">
                </div>
                <div class="percentage" style="background: white" ng-style="{ 'width': pocket.percentage + '%' }"></div>
            </div>
        </div>
        <ul class="tab-links">
            <li ng-class="{active: selectedTab === 'history'}"><a href="" ng-click="setTab('history')">History</a></li>
            <li ng-class="{active: selectedTab === 'locations'}"><a href="" ng-click="setTab('locations')">Locations</a></li>
            <li ng-class="{active: selectedTab === 'timeframe'}"><a href="" ng-click="setTab('timeframe')">Timeframe</a></li>
        </ul>
        <div class="tab-pane" ng-class="{active: selectedTab === 'history'}">

            <div class="item animate"
                 ng-repeat="item in pocket.transactions">
                <div class="date">
                    <p>{{date | transactionDateFirstLine}}</p>
                    {{date | transactionDateSecondLine}}
                </div>

                ${{ item.amount }}

            </div>
        </div>
        <div class="tab-pane" ng-class="{active: selectedTab === 'locations'}">
            <div class="item animate"
                 ng-repeat="item in pocket.locations">
                <i class="pkt-icon-location"></i>
                <span class="name">{{ item.name }}</span>
                <a href="" ng-click="removeLocation(item)">remove</a>
            </div>

        </div>
        <div class="tab-pane" ng-class="{active: selectedTab === 'timeframe'}">
            <div class="item animate"
                 ng-repeat="pocket in timeframe.pockets">
                <i class="pkt-icon-time"></i>
                {{ item.name }}
                <a href="" ng-click="removeTimeframe(item)">remove</a>
            </div>
            <a href="" class="cta"><i class="pkt-icon-time"></i>Add New Timeframe</a>

        </div>

    </ion-content>
</ion-view>
