<ion-view view-title="Pockets" id="pockets" hide-back-button="true">
    <ion-content class="padding">
        <h1>MY POCKETS</h1>
        <div ng-repeat="pocket in pockets">
            <div class="card pocket {{ getCardType(pocket) }}" ng-click="details(pocket.id)">
                <div class="item item-text-wrap">
                    <div class="{{ getCardIcon(pocket)}}"></div>
                    <div class="name">{{ pocket.name }}</div>
                    <div class="type">{{ pocket.type }}</div>
                    <div class="amount">${{ pocket.amount }}
                        <br><span ng-show="{{ pocket.amount }}">available</span></div>
                    <div ng-show="{{ pocket.amount }}" class="pocket-percentage">
                    </div>
                    <div class="percentage" style="background: white" ng-style="{ 'width': pocket.percentage*3 }"></div>
                </div>
            </div>
        </div>
        <div class="card pocket new-pocket" ng-click="addNew()">
            <div class="item item-text-wrap">
              <div id="add-new-pocket">Add new pocket</div>
            </div>
        </div>
    </ion-content>
</ion-view>
