<ion-view view-title="CASHBOARD" id="Cashboard" hide-nav-bar="false" hide-back-button="true">
    <ion-content class="padding">
        <div id="cashboard-details">
            <div id="balance">{{ balance.safeToSpend | currency }} <span>{{ balance.balance | currency}}</span></div>
            <div id="balance-small">available to spend <span>total</span></div>
            <div id="balance-bar">
                <div class="percentage" style="background: #4BD1B7" ng-style="{ 'width': balance.percentage + '%' }"></div>
            </div>
        </div>
        <ks-swiper-container initial-slide="0" speed="100" loop="true" show-nav-buttons="false" slides-per-view="" space-between="0" pagination-clickable="false" override-parameters="{effect: 'cube', cube: { slideShadows: false, shadow: true,shadowOffset: 20, shadowScale: 0.94 }}" on-ready="onReadySwiper(swiper)">
            <ks-swiper-slide class="swiper-slide" ng-repeat="pocket in pockets">
                <div style="width: 98%;" class="card pocket {{ getCardType(pocket) }}" ng-click="details(pocket.id)">
                    <div class="item item-text-wrap" style="height: 120%">
                        <div class="{{ getCardIcon(pocket.color)}}"></div>
                        <div class="name">{{ pocket.name }}</div>
                        <div class="category">{{ pocket.category }}</div>
                        <div class="amount">${{ pocket.amount }}
                            <br><span ng-show="{{ pocket.amount }}">available</span>
                        </div>
                        <div ng-show="{{ pocket.amount }}" class="pocket-percentage">
                        </div>
                        <img width="220" height="120" style="margin-left: 20px; margin-top: 20px; margin-bottom: 5px;" src="../img/chart.png" />
                        <div class="percentage" style="background: white" ng-style="{ 'width': pocket.percentage*3 }"></div>
                    </div>
                </div>
            </ks-swiper-slide>
        </ks-swiper-container>
    </ion-content>
</ion-view>
