/* Empty. Add your own CSS if you like */

@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: Roboto;
}

.icon-refreshing > ion-spinner > svg {
    margin: auto;
    position: absolute;
    top: -50px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.scroll-content {
    background: #2C3D47;
}

.pocket {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
    border-radius: 6px;
    width: 100%;
    font-size: 12px;
    color: #2C3D47;
    line-height: 16px;
    text-align: left;
}

ion-header-bar {
    background: #2C3D47 !important;
}

ion-header-bar > button {
    color: #7E8595 !important;
}

ion-header-bar .title {
    font-family: Roboto;
    font-weight: bold !important;
    font-size: 13px !important;
    color: #7E8595 !important;
    line-height: 18px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0px;
    background-color: #2C3D47;
}

.card.pocket {
    margin: 10px 0 10px 0;
}

.card.pocket .item {
    height: 90px;
}

.pocket-rent .item {
    background-image: linear-gradient(-180deg, #E16437 0%, #F76E3C 100%);
}

.pocket-utilities .item {
    background-image: linear-gradient(-180deg, #77838A 0%, #839098 100%);
}

.pocket-groceries .item {
    background-image: linear-gradient(-180deg, #84B040 0%, #98CB4A 100%);
}

.pocket-shopping .item {
    background-image: linear-gradient(-180deg, #D55467 0%, #F05F74 100%);
}

.pocket-funstuff .item {
    background-image: linear-gradient(-180deg, #2790A6 0%, #2DA8C2 100%);
}

.pocket-new .item {
    background-image: linear-gradient(-180deg, #1790A6 0%, #1DA8C2 100%);
}

.item .rent {
    background-image: url('../img/pocket_icon_rent.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 25px 24px;
    height: 25px;
    width: 24px;
    margin-top: 17px;
}

.item .utilities {
    background-image: url('../img/pocket_icon_utilities.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 25px 24px;
    height: 25px;
    width: 24px;
    margin-top: 17px;
}

.item .groceries {
    background-image: url('../img/pocket_icon_groceries.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 20px 23px;
    height: 25px;
    width: 24px;
    margin-top: 17px;
}

.item .new {
    background-image: url('../img/pocket_icon_new.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 20px 23px;
    height: 25px;
    width: 24px;
    margin-top: 17px;
}

.pocket .item .name {
    font-family: Roboto;
    font-weight: bold;
    font-size: 21px;
    color: #FFFFFF;
    line-height: 28px;
    text-align: left;
    margin-left: 40px;
    position: absolute;
    margin-top: -40px;
}

.pocket .item .type {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #2C3D47;
    line-height: 16px;
    text-align: left;
    margin-left: 40px;
    position: absolute;
    margin-top: -5px;
}

.pocket .item .amount {
    font-family: Roboto;
    font-size: 27px;
    color: #FFFFFF;
    line-height: 25px;
    text-align: right;
    float: right;
    margin-right: 0px;
    margin-top: -40px;
}

.pocket .item .amount span {
    font-family: Roboto;
    font-size: 12px;
    color: #2C3D47;
    line-height: 16px;
    text-align: right;
    margin-right: 8px;
}

.pocket .pocket-percentage {
    background-color: rgba(0, 0, 0, 0.2);
    height: 6px;
    width: 120%;
    border: 0;
    position: absolute;
    bottom: 0;
    margin-left: -20px;
}

.pocket .percentage {
    height: 6px;
    border: 0;
    position: absolute;
    bottom: 0;
    margin-left: -20px;
}

#pockets .card.pocket.new-pocket > div {
    background: radial-gradient( #FFC7B9, white);
}

.pocket #add-new-pocket {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    color: #FF4A00;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    font-weight: bold;
    padding-left: 45px;
}

.pocket #add-new {
    width: 100%;
    background-image: url('../img/pocket_icon_add-new.png');
    background-position: top center;
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    margin-left: 50px;
    margin-top: -30px;
}
